.bodySect {
  margin: 0 auto;
  max-width: fit-content;
  position: relative;
  top: 0px;
  bottom: 100px;
}

.bodySect h1 {
  position: relative;
  text-align: center;
  letter-spacing: 5px;
}

.bodySect h1 {
  position: relative;
  text-align: center;
}

.bodySect h2 {
  text-align: center;
}

.bodySect p {
  text-align: center;
}

.bodySect .sect1 {
  background: #4941bd;
  padding: 50px;
  color: aliceblue;
}

.bodySect .sect1::before {
  content: "";
  background: #4941bd;
  padding: 50px;
  z-index: -1;
}

.bodySect .sect2 {
  background: #FFFFFF;
  padding: 50px;
  color: rgb(73, 65, 189);
  text-align: center;
}

.bodySect .sect2::before {
  content: "";
  background: #FFFFFF;
  padding: 50px;
  z-index: -1;
}

.bord
{
  box-shadow: 0px 100px 0px #3100a5;
}

.bodySect .sect0to1 {
  background: linear-gradient(180deg, #3100a5, #4941bd);
  padding: 2px;
  text-align: center;
}
