ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #290075;
  position: sticky;
}

li {
  float: left;
  position: sticky;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: sticky;
  transition: 0.5s;
}

li a:hover {
  background: #3100a5;
  position: sticky;
}
